demo/generatedAuthorsXMLSchemaFreeFormatter.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cris_results">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element type="xs:string" name="ruleBook"/>
        <xs:element type="xs:short" name="apvnt"/>
        <xs:element name="theses">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="identifier"/>
              <xs:element name="evaluation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="commission"/>
                    <xs:element type="xs:string" name="type"/>
                    <xs:element type="xs:string" name="sciencesGroup"/>
                    <xs:element type="xs:string" name="scientificField"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="title"/>
              <xs:element type="xs:string" name="institution"/>
              <xs:element type="xs:short" name="year"/>
              <xs:element type="xs:string" name="thesesType"/>
              <xs:element name="author">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="researcher">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="identifier"/>
                          <xs:element type="xs:short" name="apvnt"/>
                          <xs:element type="xs:string" name="lastname"/>
                          <xs:element type="xs:string" name="firstname"/>
                          <xs:element type="xs:string" name="position"/>
                          <xs:element type="xs:string" name="institution"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="advisors">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="researcher">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="identifier"/>
                          <xs:element type="xs:short" name="apvnt"/>
                          <xs:element type="xs:string" name="lastname"/>
                          <xs:element type="xs:string" name="middlename"/>
                          <xs:element type="xs:string" name="firstname"/>
                          <xs:element type="xs:string" name="position"/>
                          <xs:element type="xs:string" name="institution"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="boardMembers">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="researcher" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="identifier"/>
                          <xs:element type="xs:short" name="apvnt" minOccurs="0"/>
                          <xs:element type="xs:string" name="lastname"/>
                          <xs:element type="xs:string" name="middlename" minOccurs="0"/>
                          <xs:element type="xs:string" name="firstname"/>
                          <xs:element type="xs:string" name="position"/>
                          <xs:element type="xs:string" name="institution"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="monograph">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="identifier"/>
              <xs:element name="evaluation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="commission"/>
                    <xs:element type="xs:string" name="type"/>
                    <xs:element type="xs:string" name="sciencesGroup"/>
                    <xs:element type="xs:string" name="scientificField"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="title"/>
              <xs:element type="xs:short" name="year"/>
              <xs:element type="xs:byte" name="numberOfPages"/>
              <xs:element type="xs:long" name="isbn"/>
              <xs:element type="xs:string" name="publisher"/>
              <xs:element name="authors">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="researcher">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="identifier"/>
                          <xs:element type="xs:short" name="apvnt"/>
                          <xs:element type="xs:string" name="lastname"/>
                          <xs:element type="xs:string" name="firstname"/>
                          <xs:element type="xs:string" name="position"/>
                          <xs:element type="xs:string" name="institution"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="paperConference" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="identifier"/>
              <xs:element name="evaluation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="commission"/>
                    <xs:element type="xs:string" name="type"/>
                    <xs:element type="xs:string" name="sciencesGroup"/>
                    <xs:element type="xs:string" name="scientificField"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="title"/>
              <xs:element type="xs:string" name="institution" minOccurs="0"/>
              <xs:element type="xs:short" name="year"/>
              <xs:element type="xs:short" name="startPage" minOccurs="0"/>
              <xs:element type="xs:short" name="endPage" minOccurs="0"/>
              <xs:element type="xs:string" name="paperType" minOccurs="0"/>
              <xs:element name="conference" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="identifier"/>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="place" minOccurs="0"/>
                    <xs:element type="xs:short" name="year"/>
                    <xs:element type="xs:string" name="number" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="proceedings" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="identifier"/>
                    <xs:element type="xs:string" name="title"/>
                    <xs:element type="xs:short" name="year"/>
                    <xs:element type="xs:string" name="isbn" minOccurs="0"/>
                    <xs:element type="xs:string" name="publisher" minOccurs="0"/>
                    <xs:element name="editors" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="researcher" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="identifier"/>
                                <xs:element type="xs:short" name="apvnt"/>
                                <xs:element type="xs:string" name="lastname"/>
                                <xs:element type="xs:string" name="middlename"/>
                                <xs:element type="xs:string" name="firstname"/>
                                <xs:element type="xs:string" name="position"/>
                                <xs:element type="xs:string" name="institution"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="authors" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="researcher">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="identifier"/>
                          <xs:element type="xs:short" name="apvnt"/>
                          <xs:element type="xs:string" name="lastname"/>
                          <xs:element type="xs:string" name="firstname"/>
                          <xs:element type="xs:string" name="position"/>
                          <xs:element type="xs:string" name="institution"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="publisher" minOccurs="0"/>
              <xs:element type="xs:string" name="doi" minOccurs="0"/>
              <xs:element type="xs:string" name="thesesType" minOccurs="0"/>
              <xs:element name="author" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="researcher">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="identifier"/>
                          <xs:element type="xs:short" name="apvnt"/>
                          <xs:element type="xs:string" name="lastname"/>
                          <xs:element type="xs:string" name="firstname"/>
                          <xs:element type="xs:string" name="position"/>
                          <xs:element type="xs:string" name="institution"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="advisors" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="researcher">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="identifier"/>
                          <xs:element type="xs:short" name="apvnt"/>
                          <xs:element type="xs:string" name="lastname"/>
                          <xs:element type="xs:string" name="middlename"/>
                          <xs:element type="xs:string" name="firstname"/>
                          <xs:element type="xs:string" name="position"/>
                          <xs:element type="xs:string" name="institution"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="boardMembers" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="researcher" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="identifier"/>
                          <xs:element type="xs:short" name="apvnt" minOccurs="0"/>
                          <xs:element type="xs:string" name="lastname"/>
                          <xs:element type="xs:string" name="middlename" minOccurs="0"/>
                          <xs:element type="xs:string" name="firstname"/>
                          <xs:element type="xs:string" name="position"/>
                          <xs:element type="xs:string" name="institution"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="paperJournal" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="identifier"/>
              <xs:element name="evaluation">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="commission"/>
                    <xs:element type="xs:string" name="type"/>
                    <xs:element type="xs:string" name="sciencesGroup"/>
                    <xs:element type="xs:string" name="scientificField"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="title"/>
              <xs:element type="xs:short" name="year"/>
              <xs:element type="xs:byte" name="startPage" minOccurs="0"/>
              <xs:element type="xs:byte" name="endPage" minOccurs="0"/>
              <xs:element type="xs:byte" name="volume" minOccurs="0"/>
              <xs:element type="xs:byte" name="number" minOccurs="0"/>
              <xs:element type="xs:string" name="paperType" minOccurs="0"/>
              <xs:element name="journal" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="identifier"/>
                    <xs:element type="xs:string" name="title"/>
                    <xs:element type="xs:string" name="issn"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="publisher" minOccurs="0"/>
              <xs:element name="authors">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="researcher" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="identifier"/>
                          <xs:element type="xs:short" name="apvnt"/>
                          <xs:element type="xs:string" name="lastname"/>
                          <xs:element type="xs:string" name="middlename" minOccurs="0"/>
                          <xs:element type="xs:string" name="firstname"/>
                          <xs:element type="xs:string" name="position"/>
                          <xs:element type="xs:string" name="institution"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>